.menu1 {
    float: left;
    color: paleturquoise;
    background-color: black;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    z-index: 10;

}

li {
    display: inline;
    font-size: 20px;
}

.bluebird {
    width: 100%;
}
.bird{
    width:250px;
    height:200px;
}

.grid gallery
align:center;
